* {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

body {
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    height: 100%;
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    height: 125px;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo {
    width: 100px;
}

.header-box-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 3px;
}

.btn-primary {
    background-color: #1890FF;
    border: 1px solid #1890FF;
    color: #FFFFFF;
}

.btn-outline {
    color: #595959;
    border: 1px solid #D9D9D9;
}

main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

footer {
    height: 153px;
}

.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-navigation {
    flex-grow: 1;
}

.footer-navigation ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.footer-navigation ul li a{
    color: #595959;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.social-networks {
    display: flex;
    gap: 21px;
}

.social-networks-img {
    width: 25px;
    height: 25px;
}

.banner {
    margin-bottom: 56px;
}

.banner-item {
    background-image: url("images/banners/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding: 68px;
    border-radius: 10px;
}

.banner-item--title {
    color: #302C34;
    font-weight: 700;
    font-size: 39px;
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 538px;
}

.banner-item--subtitle {
    color: #302C34;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    max-width: 538px;
}

