* {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

body {
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    height: 100%;
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    height: 125px;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo {
    width: 100px;
}

.header-box-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 3px;
}

.btn-primary {
    background-color: #1890FF;
    border: 1px solid #1890FF;
    color: #FFFFFF;
}

.btn-outline {
    color: #595959;
    border: 1px solid #D9D9D9;
}

main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

/* Футер */
footer {
    height: 153px;
}

.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-navigation {
    flex-grow: 1;
}

.footer-navigation ul {
    display: flex;
    gap: 15px;
    list-style: none;
    flex-wrap: wrap;
}

.footer-navigation ul li a{
    color: #595959;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.social-networks {
    display: flex;
    gap: 21px;
}

.social-networks-img {
    width: 25px;
    height: 25px;
}

/* Баннер */

.banner {
    margin-bottom: 56px;
}

.banner-item {
    background-image: url("images/banners/banner-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    padding: 68px;
    border-radius: 10px;
    background-color: #FFF1BB;
}

.banner-item--title {
    color: #302C34;
    font-weight: 700;
    font-size: 39px;
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 538px;
}

.banner-item--subtitle {
    color: #302C34;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    max-width: 538px;
}

/* Хеадер карточек с товарами */


/* Карточки товаров */
.products-wrapper {
    margin-top: 45px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.products-card {
    width: calc((100% - 48px) / 3);
    border-radius: 7px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.products-card__img {
    width: 100%;
}

.products-card__img img {
    width: 100%;
}

.products-card__description {
    display: flex;
    flex-direction: column;
    padding: 20px 24px 35px 24px;
}

.products-card__description-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-card__description-row:not(:last-child) {
    margin-bottom: 10px;
}

.products-card__description--title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.products-card__description--badge {
    color: #FFFFFF;
    background: #262626;
    border-radius: 2px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    padding: 1px 8px;
}

.products-card__description-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    font-weight: 400;
    font-size: 18px;
}

.products-card__description-info--raiting {
    color: #FFC107;
    font-weight: 700;
}

.products-card__description-info--price,
.products-card__description-info--type {
    color: #8C8C8C;
}

.products-card__description-info--type {
    position: relative;
}

.products-card__description-info--type::before {
    content: ".";
    color: #8C8C8C;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
    left: -10px;
    top: -4px;
}

.products-card__description--name {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
}

.products-card__description--ingridients {
    margin: 0;
    color: #8C8C8C;
    font-weight: 400;
    font-size: 18px;
}

.products-card__description-order {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 30px;
}

.products-card__description-order span {
    font-weight: 700;
    font-size: 20px;
}

/* Адаптивность */
@media (max-width: 801px) {
    .banner-item {
        background-image: none;
    }

    .products-card {
        width: calc((100% - 24px) / 2);
    }
}

@media (max-width: 489px) {
    .products-card {
        width: 100%;
    }
}
